<html>
  <head>
    <title>Message Info</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Message by <%= user%></h1>
    <h2><%= text%></h2>
    <a href="/"><button>Go back</button></a>
  </body>
</html>
