<li class="message">
  <div>
    <%= message.text %> — <em> <%= message.username %></em>
    — <%= message.added %>
  </div>
  <a href="/message/<%= message.id %>"><button>Open message</button></a>
</li>
